@import url(variable.css);
@import url(fonts.css);

/*page reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans";
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--page-primary-color);
    background: var(--page-background-color); 
    min-height: 100vh;
    min-height: 100dvh;
    padding: 20px;
    min-width: 368px;
}

img {
    height: var(--img-size);
    border-radius: var(--img-radius);
    pointer-events: none;
}

.frame__accountSetup {
    display: flex;
    flex-direction: column;
    background-color: var(--page-secondary-color);
    border-radius: var(--frame-radius);
    padding: var(--frame-padding-phone);
    box-shadow: var(--frame-shadow);
    width: 550px;
    height: 100%;
}

.form__content {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--content-gap);
    height: 100%;
    width: 100%;
}

#toggleLogin:checked ~ #loginForm {
    display: flex;
}

#toggleSignup:checked ~ #signupForm {
    display: flex;
}

.form__titlePage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--content-gap);
    font-size: 1.2em;
    color: var(--title-primary-color);
    width: 100%;
}

.form__accountSetup {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
}

.form__accountSetup .inputs {
    margin-bottom: var(--content-hg-margin);
    margin-top: var(--content-sm-margin);
    border: var(--input-border);
    background-color: var(--input-primary-color);
    padding-left: var(--input-padding);
    padding-right: var(--input-padding);
    height: var(--input-height-phone);
    border-radius: var(--input-radius);
    width: 100%;
}

.form__accountSetup .labels {
    color: var(--label-primary-color);
    font-size: 0.9em;
}

.form__accountSetup .button {
    border: var(--btn-border);
    background-color: var(--btn-primary-color);
    border-radius: var(--btn-radius);
    color: var(--btn-text-color);
    height: var(--btn-height-phone);
    margin-top: var(--content-lg-margin);
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.form__options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.8em;
    margin-top: var(--content-sm-margin);
}

.form__options .left {
    text-align: start;
    width: 50%;
}

.form__options label {
    color: var(--link-primary-color)
}

.form__options .right {
    text-align: end;
    width: 50%;
}


.inputs:focus {
    outline: none;
}

@media (hover:hover) and (pointer:fine) {
    .inputs:hover:not(:focus) {
        outline: var(--hover-input);
        
    }
    .button:hover {
        background-color: var(--hover-primary-color);
        cursor: pointer;
    }
    .form__options label:hover, .form__options a:hover {
        text-decoration: var(--hover-link);
    }
}

@media (hover:none) and (pointer:coarse) {
    .inputs:active {
        outline: var(--hover-input);
        
    }
    .button:active {
        background-color: var(--hover-primary-color);
    }
    .form__options label:active, .form__options a:active {
        text-decoration: var(--hover-link);
    }
}


@media (min-width: 1024px) {
    
    .form__options {
        font-size: 0.9em;
    }

    .frame__accountSetup {
        padding: var(--frame-padding-desktop);
    }

    .form__accountSetup .inputs {
        height: var(--input-height-desktop);
        width: 100%;
    }
    
    .form__accountSetup .button {
        height: var(--btn-height-desktop);
    }

    .form__content {
        max-width: 500px;
    }
}